.customFont{
    font-family: 'F1Font' !important;
    color: white;
    font-size: 1.2rem;
}

.customFont:hover{
    color: whitesmoke;
    border-bottom: 3px solid whitesmoke;
    transition: all 0.3s linear;
}