/*seccion para el titulo del landpage*/
.heroTitle{
    font-family: 'F1Font';
    color: #E10600;
}

/*seccion para la descripcion del landpage*/
.heroDescription{
    font-family: 'Titillium Web SemiBold';
    color: #ffffff;
    font-size: 1.2rem;
}

/*seccion para el boton empezar del landpage*/
.heroBtn{
    width: 8em;
    height: auto;
}