/*seccion para el contenedor de las tarjetas*/
.card-border{
    border: 10px solid #e10600;
    border-radius: 15px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    /*aplicamos una transición que actúe como "amortiguador" para el efecto de "flotar" en los componentes cards*/
    /*propiedad | tiempo | tiempo de la animacion | delay de la función*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/*seccion de animacion al hacer hover sobre las Cards*/
.card-border:hover{
    /* mueve el componente 10px hacia Arriba */
    transform: translateY(-10px);
    /* efecto de sombra al hacer hover sobre las Cards */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

/*seccion para el titulo de las tarjetas*/
.titleCard{
    font-family: 'F1Font';
}

/*seccion para la descripcion de las tarjetas*/
.descriptionCard{
    font-family: 'Titillium Web SemiBold';
}