/* sección para el titulo de la seccion main */
.mainTitle{
    font-family: 'F1Font';
    color: #E10600;
}

/* sección para la descripción de la sección main */
.mainDescription{
    font-family: 'Titillium Web SemiBold';
    color: #ffffff;
    font-size: 1.2rem;
}