:root {
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*propiedades del cuerpo de la página*/
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%; /*ocupa el 100% de la página*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.5)), url('../src//assets/images/F1-Racing-Background.gif'); /*hacemos que el fondo sea la imagen, asi no ocupa espacio físico*/
  background-repeat: no-repeat; /*sin repetir*/
  background-size: cover; /*que ocupe todo el espacio*/
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/*seccion del hover del boton*/
button:hover {
  border-color: #E01600;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*declaración de la fuente globalmente*/
@font-face {
  font-family: 'F1Font';
  src: url('./assets/fonts/Formula1-Bold_web_0.ttf') format('truetype'); /*truetype es el formato de .ttf*/
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium Web SemiBold';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

}

